{% extends 'base.html' %}
{% load static %}

{% block title %}OTP Verification Method{% endblock %}

{% block content %}

  <section class="register-section" >
    <div class="container-fluid g-0 ">
      <div class="row g-0 d-flex  ">

         <!-- Left: Branding/Quote -->
<div class="col-md-6 d-none d-md-flex align-items-start justify-content-center flex-column"
style="background: url('{% static 'assets/img/Rectangle_36.png' %}') center center / cover no-repeat; position: relative; padding: 2rem;">

<!-- Top Logo -->
<div class="mb-4">
<img src="{% static 'assets/img/logo.png' %}" alt="OnTap Logo" style="height: 40px;">
</div>

<!-- Quote Section -->
<!--div class="mt-auto">-->
<div style="margin-top: 6rem;">
<p class="text-white">"I love how easy it was to customize my OnTap card. It matches my brand perfectly, and people are always impressed when I share my details with just a tap!"</p>
<p class="text-white fw-bold">Melissa K., Creative Director, MascotAI</p>
</div>
</div>

  
  <!-- Right Form -->
  
  <div class="col-md-6 d-flex align-items-center justify-content-center bg-white">
    <div class="p-4" style="max-width: 400px; width: 100%;">
     
         
      


      <a href="javascript:history.back()" class="text-decoration-none fw-bold d-flex align-items-center">
        <i class="bi bi-chevron-left me-1"></i> Back
      </a>

      <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
          <strong>Attention!</strong> Please select where to receive verification code.
        </div>
      </div>
      
      
      


      <h4 class="fw-bold">OTP Verification</h4>
      <p class="text-muted small">Select where you'd like to receive your verification code.</p>

     

      <!-- Send to email -->
      <a href="{% url 'enter_otp' %}" class="text-decoration-none text-dark">

      <div class="border rounded p-3 mb-3 d-flex align-items-center justify-content-between" style="cursor: pointer;">
        <div class="d-flex align-items-center">
          <i class="bi bi-envelope-fill me-3 text-primary"></i>
          <span >Send code to my email<br><strong>p*******5@gmail.com</strong></span>
        </div>
      </div>
      </a>

      <!-- Send to phone -->
       <a href="{% url 'enter_otp' %}" class="text-decoration-none text-dark">
      <div class="border rounded p-3 d-flex align-items-center justify-content-between" style="cursor: pointer;">
        <div class="d-flex align-items-center">
          <i class="bi bi-phone-fill me-3 text-success"></i>
          <span>Send code to my phone<br><strong>+254*******369</strong></span>
        </div>
      </div>
  </a>

    </div>
  </div>
</div>


</section>



{% endblock %}
